Diagnostics:
    Suppress: [
      'unknown_typename',
      'undeclared_var_use_suggest',
      'init_conversion_failed',
      'undeclared_var_use',
      'fatal-too-many-errors',
      '-Wunknown-pragmas',
      '-Wint-to-pointer-cast'
      ]
    UnusedIncludes: None
    Includes:
        IgnoreHeader: '^<.*>$'
CompileFlags:
  Add: [-ferror-limit=1000]
